# LLM
torch
ollama>=0.5.1
openai>=1.97.1
transformers>=4.51.

# configuration
pyyaml>=6.0.2
pydantic>=2.11.4

# data
pandas>=2.2.3
numpy>=2.2.6
scikit-learn>=1.6.1
scipy>=1.15.2

# other
tqdm>=4.67.1
httpx>=0.28.1